// colors
$primary: #6e8e2f;
$secondary: #272727;
$neutral: #939393;

// highlights
$highlight-1: #1cebb3;
$highlight-2: #2ce6f7;

// themes
$white: #ffffff;
$black: #383838;

// informative colours
$info: #3273dc;
$success: #6e8e2f;
$warning: #ffdd57;
$danger: #f56666;
